.suspended-list {
    margin: 24px 0;
}

.suspended-list label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.suspended-list select {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 4px;
}
